body {
    background-color: transparent;
    color: #000;
    font-family: Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 15px;
}


div#container {
    background-color: #fff;
    border: 1px solid #666;
    margin: -1px; /*for the border*/

    height: 100%;
    width: 100%;
    overflow: hidden;
}

div#toolbar {
    padding: 10px;
}

div#content {
    padding: 0 10px;
    height: 90%;
    overflow-y: auto;
}

.shop .actions, li .actions {
    float: right;
}

.shop-themes {
    border-bottom: 3px solid #555;
}

.shop .name {
    padding: 10px 5px;
    font-size: 20px;
}

ul.themes {
    padding: 1px 10px 0;
    list-style: none;
}

ul.themes li {
    padding: 10px;
}

ul.themes li:nth-child(odd)  {
    background-color: #eee;
}

ul.themes li:nth-child(even)  {
    background-color: #ccc;
}

.themes li .name {
    font-size: 17px;
    font-weight: bold;
}

.themes li .role,
.themes li .path {
    font-size: 13px;
}

/*Theme Panel Picker*/
ul.theme-picker {
    cursor: pointer;
    list-style: none;
    padding: 0;
    text-align: center;
}

.theme-picker li {
    margin: 5px 0;
    padding: 5px 3px;
}

.theme-picker li:hover {
    border: 1px solid green;
    font-weight: bold;
}

.theme-picker li:nth-child(odd)  {
    background-color: #eee;
}

.theme-picker li:nth-child(even)  {
    background-color: #ccc;
}

/* forms */
.lform fieldset> div {
    height: 45px;
}

.lform label {
    float:left; 
    display:block; 
    color:#999; 
    font-size:14px; 
    width:75px; 
    text-align:right;
    margin:0 20px 0 0; 
    font-weight:bold; 
    padding:0; 
    height:32px; 
    line-height:32px;
}

.lform input[type="text"], 
.lform input[type="password"], 
.lform input[type="email"]  {
    float: left;
    border: 1px solid #E8E8E8;
    font-size: 18px;
    color: #666;
    margin: 0;
    padding: 6px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 350px;
}


/*Utility*/
.util-hide {
    display: none;
}

/*div {
    border: 1px solid blue;
}
*/